<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.meongnyang.api.board.repository.BoardRepository">
    <insert id="insertBoard" parameterType="com.ssafy.meongnyang.api.board.domain.Board">
        INSERT INTO board (category, user_id, title, content, image_url)
        VALUES (#{category}, #{userId}, #{title}, #{content}, #{imageUrl});
    </insert>

    <select id="getBoardListWithUser" resultType="com.ssafy.meongnyang.api.board.dto.response.BoardListGetResponse">
        SELECT b.id, b.category, b.title, u.nickname, b.created_at
        FROM board b
        JOIN users u ON b.user_id = u.id
        <where>
            <if test="category != null and category != '전체'">
                b.category = #{category}
            </if>
        </where>
        ORDER BY b.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getBoardCategoryCount" resultType="map">
        SELECT category, COUNT(*) as count
        FROM board
        GROUP BY category
    </select>



    <select id="getBoardCount" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <select id="getBoardById" resultType="com.ssafy.meongnyang.api.board.dto.response.BoardGetResponse">
        SELECT
        b.category,
        b.title,
        u.nickname AS nickname,
        b.user_id,
        u.profile_image_path AS profileImageUrl,
        DATE_FORMAT(b.created_at, '%Y-%m-%d') AS date,
        b.content,
        b.image_url
        FROM board b
        JOIN users u ON b.user_id = u.id
        WHERE b.id = #{boardId}
    </select>

    <select id="getBoard" resultType="com.ssafy.meongnyang.api.board.domain.Board">
        SELECT
        id,
        category,
        user_id AS userId,
        title,
        content,
        image_url AS imageUrl
        FROM board
        WHERE id = #{boardId}
    </select>

    <update id="updateBoard" parameterType="com.ssafy.meongnyang.api.board.domain.Board">
        UPDATE board
        SET
        category = #{category},
        title = #{title},
        content = #{content}
        <if test="imageUrl != null">
            , image_url = #{imageUrl}
        </if>
        <if test="imageUrl == null">
            , image_url = null
        </if>
        WHERE id = #{id}
    </update>


    <delete id="deleteBoard" parameterType="Long">
        DELETE FROM board
        WHERE id = #{boardId}
    </delete>

    <select id="searchBoard" resultType="com.ssafy.meongnyang.api.board.dto.response.BoardListGetResponse">
        SELECT b.category,
        b.title,
        u.nickname,
        DATE_FORMAT(b.created_at, '%Y-%m-%d') AS date
        FROM board b
        JOIN users u ON b.user_id = u.id
        <where>
            <if test="title != null and title != ''">
                AND (b.title LIKE CONCAT('%', #{title}, '%'))
            </if>
            <if test="content != null and content != ''">
                AND (b.content LIKE CONCAT('%', #{content}, '%'))
            </if>
            <if test="writer != null and writer != ''">
                AND u.nickname = #{writer}
            </if>
        </where>
        ORDER BY b.created_at DESC
    </select>
</mapper>