<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.meongnyang.api.comment.repository.CommentRepository">
    <insert id="createComment" parameterType="com.ssafy.meongnyang.api.comment.domain.Comment">
        INSERT INTO comment (board_id, user_id, content)
        VALUES (#{boardId}, #{userId}, #{content});
    </insert>

    <select id="getComment" resultType="com.ssafy.meongnyang.api.comment.dto.response.CommentGetResponse">
        SELECT c.id, u.nickname AS username, c.content, c.created_at FROM comment c
        JOIN users u ON c.user_id = u.id
        WHERE c.board_id = #{boardId};
    </select>

    <select id="getCommentById" resultType="com.ssafy.meongnyang.api.comment.domain.Comment">
        SELECT * FROM comment
        WHERE id = #{commentId};
    </select>

    <update id="updateComment" parameterType="com.ssafy.meongnyang.api.comment.domain.Comment">
        UPDATE comment SET
        content = #{content}
        WHERE id = #{id};
    </update>

    <delete id="deleteComment" parameterType="Long">
        DELETE FROM comment
        WHERE id = #{commentId}
    </delete>
</mapper>