<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.meongnyang.api.diet.repository.DietRepository">
    <insert id="insertDiet" parameterType="com.ssafy.meongnyang.api.diet.domain.Diet">
        INSERT INTO diet(
            user_id,
            date,
            title,
            breakfast_img_path, breakfast_des,
            lunch_img_path, lunch_des,
            dinner_img_path, dinner_des,
            snack, memo, exercise
        ) VALUES (
            #{userId},
            #{date},
            #{title},
            #{breakfastImgPath},
            #{breakfastDes},
            #{lunchImgPath},
            #{lunchDes},
            #{dinnerImgPath},
            #{dinnerDes},
            #{snack},
            #{memo},
            #{exercise}
        )

    </insert>
    <select id="selectDietListByUserId" resultType="com.ssafy.meongnyang.api.diet.dto.response.DietResponse">
        SELECT
        diet_id, user_id, date, title,
        breakfast_img_path, breakfast_des,
        lunch_img_path, lunch_des,
        dinner_img_path, dinner_des,
        snack, memo, exercise
        FROM diet
        WHERE user_id = #{userId}
    </select>
    <select id="selectDietDetail" resultType="com.ssafy.meongnyang.api.diet.dto.response.DietResponse">
        SELECT
        diet_id, user_id, date, title,
        breakfast_img_path, breakfast_des,
        lunch_img_path, lunch_des,
        dinner_img_path, dinner_des,
        snack, memo, exercise
        FROM diet
        WHERE user_id = #{userId}
        AND diet_id = #{dietId}
    </select>
    <update id="updateDiet" parameterType="com.ssafy.meongnyang.api.diet.domain.Diet">
        UPDATE diet
        SET
        date = #{date},
        title = #{title},
        breakfast_img_path = #{breakfastImgPath},
        breakfast_des = #{breakfastDes},
        lunch_img_path = #{lunchImgPath},
        lunch_des = #{lunchDes},
        dinner_img_path = #{dinnerImgPath},
        dinner_des = #{dinnerDes},
        snack = #{snack},
        memo = #{memo},
        exercise = #{exercise}
        WHERE diet_id = #{dietId}
        AND user_id = #{userId}
    </update>
    <delete id="deleteDiet">
        DELETE FROM diet
        WHERE user_id = #{userId}
        AND diet_id = #{dietId}
    </delete>
</mapper>
